@{
    ViewData["Title"] = $"{@Model.Make} {@Model.Model} Details";
}


<h1>
    @Model.Make • @Model.Model 
    <a href="/machines/edit/@Model.MachineId">✏️</a>
    <a href="#" data-id="@Model.MachineId" data-url="/machines/delete/@Model.MachineId" class="delete-link">❌</a>
</h1>
<h3>Country: @Model.Country</h3>

<h3>Required licenses: </h3>

<ul>
@foreach (MachineLicense ml in Model.MachineLicenses)
{
    <li>@ml.License.Name</li>
}
</ul>

<h3>Qualified Engineers</h3>

@if (Model.Engineers.Count == 0)
{
    <p>None</p>
} 
else
{
    <ul>
        @foreach (Engineer engineer in Model.Engineers)
        {
            <li>
                <a href="/engineers/details/@engineer.EngineerId">@engineer.Name</a>
            </li>
        }
    </ul>
}

