@{
    ViewData["Title"] = $"{@Model.Make} {@Model.Model} Details";
}

<h2>Country: @Model.Country</h2>
<h2>Make: @Model.Make</h2>
<h2>Model: @Model.Model</h2>

<h3>Required licenses: </h3>

<ul>
@foreach (MachineLicense ml in Model.MachineLicenses)
{
    <li>@ml.License.Name</li>
}
</ul>

<h3>Qualified Engineers</h3>

@if (Model.Engineers.Count == 0)
{
    <p>None</p>
} 
else
{
    <ul>
        @foreach (Engineer engineer in Model.Engineers)
        {
            <li>
                <a href="/engineers/details/@engineer.EngineerId">@engineer.Name</a>
            </li>
        }
    </ul>
}

